@{
    ViewData["Title"] = "Home Page";
}

<div class="book-wrapper mt-2">
    <div class="book-box d-flex justify-content-around">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
    </div>

    <div class="book-box d-flex justify-content-around mt-4">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
    </div>

    <div class="text-box" style="margin-top:6em">
        <h1><span style="color:red;">C</span>ollection of all my books</h1>
        <p>Rent a book for free and enjoy reading for a month</p>
        <button class="btn" onclick="rentabook()">Rent a book</button>
        <h2 class="mt-5">My latest books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
    </div>

    <div class="text-box">
        <h2 class="mt-5">My best books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
    </div>
</div>



<div class="book-wrapper2">

    <div class="text-box2 pt-3">
        <h2 class="mt-5">My latest books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
    </div>

    <div class="text-box2 pt-3">
        <h2 class="mt-5">My best books</h2>
    </div>

    <div class="latest-book-box d-flex justify-content-around mt-4">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
        <img src="~/images/book2.jpg" alt="">
        <img src="~/images/book1.jpg" alt="">
    </div>

</div>



@* CSS *@

<style>


</style>


<script>
 
</script>