@* @model moment3_mvc_entity.Models.Rental

@{
    ViewData["Title"] = "Rent a book";
}



<div class="book-wrapper-rentabook mt-2">

    <div class="rental-wrapper mt-5">

        <h1 class="mt-5 mb-5">@ViewData["Title"]</h1>


        <form asp-action="create" method="post">
            <div class="form-group">
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" type="text" class="form-control" id="name" />
            </div>

            <div class="form-group">
                <label asp-for="IdNumber">ID Number (10 digits):</label>
                <input asp-for="IdNumber" type="number" class="form-control" id="id-number" />
            </div>

            <div class="form-group small">
                <label asp-for="BookTitle">Book Title:</label>
                <input asp-for="BookTitle" list="books" class="form-control" id="book-title" />
                <datalist id="books">
                    <option value="Book 1"></option>
                    <option value="Book 2"></option>
                    <option value="Book 3"></option>
                    <!-- Add more options as needed -->
                </datalist>
            </div>

            <div class="form-group small">
                <label asp-for="RentalDate">Rental Date:</label>
                <input asp-for="RentalDate" type="date" class="form-control" id="rental-date" />
            </div>



            <button type="button" class="btn my-4" onclick="rentBook()">Rent book</button>
        </form>

    </div>

</div>


<style>
    .rental-wrapper {
        margin-left: 2em;
        color: white;
    }

    form {
        font-size: 1em;
        width: 50%;
        max-width: 40em;
    }

    form .small {
        font-size: 1em;
        width: 50%;
        min-width: 20em;
    }

    form div {
        margin-top: 0.75em;
    }
</style>

<script>
    function rentBook() {
        confirm("Are you sure you want to rent book?");
    }
</script> *@