body,
html {
  background-color: rgb(243, 243, 243);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* NAVBAR */

.header {
  background-color: #dac895 !important;
}

.navbar {
  padding: 1.5em 2.5em;
}

.navbar-brand {
  margin-top: 0.2em;
  margin-left: 10%;
  color: white !important;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-item a {
  font-size: 1.6em;
  color: white !important;
  margin-top: 0.7em !important;
  transition: 0.3s;
  float: right;
  margin-right: 3%;
  padding-bottom: 0.3em;
  font-weight: 600;
  border-bottom: 0.5px solid transparent;
  text-align: center;
}

.nav-item:first-child {
  margin-top: 3em;
}

.nav-item:last-child {
  margin-bottom: 10em;
}

@media (min-width: 1199px) {


  .nav-item:first-child {
    margin-top: 0;
  }

  .nav-item:last-child {
    margin-bottom: 0;
  }

  .nav-item a {
    font-size: 1em;
    color: white !important;
    margin-left: 2em !important;
    margin-top: 0.5em;
    float: none;
    margin-right: 0;
    transition: 0.3s;
    font-weight: 600;
    padding-bottom: 0.3em;
    border-bottom: 0.5px solid transparent;
  }

  .nav-item a:hover {
    /* text-decoration: underline; */
    color: rgb(231, 231, 231) !important;
    border-bottom: 0.5px solid rgb(231, 231, 231);
  }
}


/* FOOTER  */
.footer {
  height: 15em;
  background-color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.footer-box {
  width: 50%;
  text-align: center;
}

.navbar-brand-footer {
  color: #dac895 !important;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}