body,
html {
  background-color: #0e0e0e;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


html {
  position: relative;
  font-size: 14px;
}

body {
  /* make sure there is 25em for the footer */
  /* Important to keep this the same height as footer */
  padding-bottom: 25em !important;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */







/* BUTTON */

.btn {
  font-size: 1.1em;
  padding: 0.6em 1em;
  border: red 0.5px solid;
  background-color: black;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  color: red;
  transition: 0.2s;
}

.btn:hover {
  color: #d5d5d5;
  border: #d5d5d5 0.5px solid;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
}

.search-btn,
.rent-btn {
  border-radius: 6%;
  /* font-size: 1.1em; */
  height: 2.5em;
  padding: 0.4em 1.1em;
  border: #0e0e0e 0.5px solid;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(49, 49, 49, 0.3);
  color: #0e0e0e;
  transition: 0.2s;
}

.search-btn:hover,
.rent-btn:hover {
  color: #404040;
  border: #404040 0.5px solid;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
}

.details-btn {
  border-radius: 5%;
  height: 2.5em;
  padding: 0.5em 1em;
  border: #383838 0.5px solid;
  background-color: inherit;
  box-shadow: 0px 0px 10px rgba(157, 157, 157, 0.3);
  color: #383838;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;
}

.details-btn:hover {
  color: #6b6b6b;
  border: #6b6b6b 0.5px solid;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0);
}






/* NAVBAR */

.header {
  background-color: #0e0e0e !important;
}

.navbar {
  padding: 1em 2.5em;
  border-bottom: none !important;
}

.navbar-brand {
  margin-top: 0.2em;
  color: white !important;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand img {
  width: 1em !important;
  height: 1em !important;
  margin-bottom: 0.3em !important;
}

.nav-item a {
  font-size: 1.6em;
  color: white !important;
  margin-top: 0.7em !important;
  transition: 0.3s;
  float: right;
  margin-right: 3%;
  padding-bottom: 0.3em;
  font-weight: 600;
  border-bottom: 0.5px solid transparent;
  text-align: center;
}

.nav-item:first-child {
  margin-top: 3em;
}

.nav-item:last-child {
  margin-bottom: 10em;
}

@media (min-width: 1199px) {
  .navbar-brand {
    margin-left: 1em;
    margin-right: 2em;
    font-size: 1.65em;
    font-weight: 500 !important;
  }

  .nav-item:first-child {
    margin-top: 0;
  }

  .nav-item:last-child {
    margin-bottom: 0;
  }

  .nav-item a {
    font-size: 1em;
    color: white !important;
    margin-left: 2em !important;
    margin-top: 0.5em;
    float: none;
    margin-right: 0;
    transition: 0.3s;
    font-weight: 400;
    padding-bottom: 0.3em;
    border-bottom: 0.5px solid transparent;
  }

  .nav-item a:hover {
    color: rgb(184, 184, 184) !important;
    border-bottom: 0.5px solid rgb(231, 231, 231);
  }
}

@media (max-width: 1199px) {

  .navbar-nav .nav-item a:active,
  .navbar-nav .nav-item a:focus {
    color: #676767 !important;
    text-decoration: underline;
  }
}





/* FOOTER  */

.footer {
  height: 25em;
  background-color: #000000 !important;
  border-top: none !important;
  /* position: relative; */
  /* z-index: 1; */

}

.footer-box {
  width: 50%;
  text-align: center;
}

.footer-nav {
  text-align: center;
  list-style-type: none;
  margin-top: -2em;
}

.footer-nav-item a {
  font-size: 1em;
  color: white !important;
  text-decoration: underline;
}

.footer-nav-item a:hover {
  font-size: 1em;
  color: rgb(182, 182, 182) !important;
}

.socials i {
  color: white;
  margin-top: -1em;
}

.navbar-brand-footer {
  color: #ffffff !important;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 1199px) {
  .footer-nav-item a {
    font-size: 1.2em;
  }
}




/* INDEX */

.book-wrapper {
  max-width: 99% !important;
  margin: 0 auto;
  /* height: 150em; */
  padding: 0 2em;
}

.book-wrapper-rentabook {
  max-width: 99% !important;
  margin: 0 auto;
  height: 55em;
  padding: 0 2em;
}

.book-wrapper2 {
  max-width: 100% !important;
  margin: 0 auto;
  /* height: 80em !important; */
  padding: 2em 2em 5em 2em;
  background-color: #FFFBFA !important;
}

.carousel {
  height: 20em;
}

.book-box2,
.latest-book-box2 {
  color: #0e0e0e;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.book-box,
.latest-book-box {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.book-box img {
  width: 8em;
  height: 8em;
  margin: 0.5em;
  border-radius: 7%;
}

.latest-book-box img {
  width: 15em;
  height: 15em;
  max-width: 15em;
  margin: 0.5em;
  border-radius: 4%;
}

.author-box img {
  width: 15em;
  height: 20em;
  max-width: 15em;
  margin: 0.5em;
  border-radius: 4%;
}

.book-box img:hover,
.latest-book-box img:hover,
.author-box img:hover {
  border-radius: 9% !important;
  background-color: white !important;
  transition: 0.1s;
  opacity: 0.6;
  background-color: #ffffff;
  cursor: pointer;
}

.text-box h1 {
  color: white;
  font-size: 3.5em;
  width: 40%;
  font-weight: bold;
}

.text-box h2 {
  color: white;
  font-size: 2em;
  font-weight: 300;
}

.text-box p {
  color: white;
}

.author-item p {
  font-weight: 600;
  text-align: center;
}



@media screen and (max-width: 1199px) {

  .latest-book-box img {
    width: 11em;
    height: 11em;
    max-width: 11em;
    margin: 0.5em;
    border-radius: 4%;
  }

  .author-box img {
    width: 10em;
    height: 14em;
    margin: 0.1em;
    border-radius: 4%;
  }
}


@media screen and (max-width: 768px) {

  .book-wrapper {
    max-width: 99% !important;
    margin: 0 auto;
    /* height: 150em; */
    padding: 0 1em;
  }

  .text-box h1 {
    color: white;
    font-size: 3em;
    width: 75%;
  }

  .text-box p {
    font-size: 1.2em;
    width: 75%;
  }

  .book-box img {
    width: 5em;
    height: 5em;
    margin: 0.5em;
    border-radius: 7%;
  }

  .latest-book-box img {
    width: 8em;
    height: 8em;
    max-width: 8em;
    margin: 0.5em;
    border-radius: 4%;
  }

  .author-box img {
    width: 6em;
    height: 8em;

    margin: 0.1em;
    border-radius: 4%;
  }
}





/* BOOK DETAILS */

.details-wrapper {
  background-color: #FFFBFA !important;
  padding: 6em 6em 20em 6em;
}

.details-box {
  height: 20em;
}

.content-container {
  padding-left: 2em;
}

.content-info-container h6 {
  font-weight: 500;
  font-size: 0.9em;
}

.content-info-container a {
  color: #0e0e0e;
  text-decoration-thickness: 1px;
  font-weight: 500;
  transition: 0.1s;
}

.content-info-container a:hover {
  color: red;
}

.details-wrapper img {
  margin-right: 4em;
  width: 18em;
  height: 18em;
  border-radius: 6%;
}

.av-box {
  border-top: 0.5px solid rgb(193, 193, 193);
  padding: 1em 2em 2em 0;
  width: fit-content;
  height: fit-content;
}


@media screen and (max-width: 1100px) {

  .details-wrapper img {
    margin-right: 2em;
  }

  .details-box {
    min-height: fit-content;
  }
}

@media screen and (max-width: 992px) {

  .details-wrapper {
    padding: 4em 1em 35em 1em;
  }

  .details-wrapper img {
    margin-right: 2em;
    width: 13em;
    height: 13em;
    margin: 0 auto;
    display: block;
  }

  .content-container {
    margin-top: 2em;
    padding-left: 0;
  }

  .details-wrapper img {
    width: 14em;
    height: 14em;
    border-radius: 6%;
    margin: 0 auto;
  }

}




/* BOOKSBYAUTHOR */

.booksbyauthor-wrapper {
  background-color: #FFFBFA !important;
  padding: 0 6em 5em 6em;
  height: fit-content;

}

@media screen and (max-width: 768px) {
  .booksbyauthor-wrapper {
    padding: 0 1em 5em 1em;
  }


}



/* ALL BOOKS */

.allbooks-wrapper {
  background-color: #FFFBFA !important;
  padding: 0 6em 5em 6em;
  height: fit-content;

}

.search-wrapper {
  color: #0e0e0e;
}

.search-bar {
  width: 50%;
}

.search-bar input {
  height: 2.5em;

}

.card-link {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
  color: inherit;
  text-decoration: none;
}

.card {
  width: 10.5em !important;
  height: fit-content;
  transition: 0.1s;
}

.card:hover {
  border: 0.5px solid rgb(182, 182, 182);
}

.card:hover img {
  padding: 0.1em;
}

.card img {
  margin-left: -0.58em;
  margin-top: 0.2em;
  transition: 0.1s;
}

.card-body {
  margin: 0 -0.9em !important;
}

.card-body-title {
  height: 2.5em;
}

.card-body-grade-genre {
  margin-top: 2em;
  margin-bottom: -1.2em;
}

.card-body p {
  font-size: 0.7em;
}

.card-body h6 {
  font-size: 0.9em;
  font-weight: 500;
}

.hr {
  color: rgb(144, 144, 144);
}

@media screen and (max-width: 768px) {
  .allbooks-wrapper {
    padding: 0 1em 5em 1em;
  }

  .card-deck {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 9em !important;
    height: fit-content;
    transition: 0.1s;
  }

  .card img {
    width: 8.5em !important;
    height: 8.5em !important;
    margin-left: -0.58em;
    margin-top: 0.2em;
  }

  .search-bar {
    width: 75%;
  }

  .search-bar input {
    height: 3em;
  }
}





/* RENTABOOK - create, rental */

.rentabook-wrapper {
  background-color: #FFFBFA !important;
  padding: 0 6em 5em 6em;
  height: fit-content;
}

.rentabook-form {
  max-width: 50%;
}

.rentabook-form .form-group {
  margin-top: 0.5em;
}

.rentabook-form .short {
  max-width: 40%;
}

@media screen and (max-width: 990px) {
  .rentabook-wrapper {
    padding: 0 1em 5em 1em;
  }

  .rentabook-form {
    max-width: 100%;
  }

  .rentabook-form .short {
    max-width: 60%;
  }
}